.sidebarToggler{
    background-color: rgb(13, 103, 98);
    background-image: none;
    border-bottom-color: rgb(13, 103, 98);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-repeat: stretch;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(13, 103, 98);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(13, 103, 98);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(13, 103, 98);
    border-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    float: left;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    line-height: 20px;
    margin: 0 5px 5px 0;
    padding: 4px 12px;
    text-align: center;
    text-decoration-color: rgb(255, 255, 255);
    text-decoration-line: none;
    text-decoration-style: solid;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 38px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}