.sidebar{
    width:60px;
    height:100vh;
    background-color:#2e4051;
    padding-top: 10px;
    transition: width .5s

}

.sidebar > a{
    white-space: nowrap;
    padding: 10px;
    display: block;
    text-decoration:none;
    color: #a7b1c2;
}

.nav_expanded{
    width:240px

}
.nav_contracted{
    width:60px
}

.visible {
    opacity: 1;
    transition: opacity .5s linear;
}

.hidden {
    opacity: 0;
}


.sidebar > a.active{
    color:  #c3d0e1
}

.sidebar > a > i{
    padding: 10px;

}

.active{
    border-left: solid 5px  #c3d0e1;
}


.logo{
    display: block;
    margin: 0 auto 20px;
    transition: all .5s
}

.logo_large{
    width: 180px;
    height: 180px;
}

.logo_small{
    width: 50px;
    height: 50px;
}


@media(max-width: 650px){
    .nav_expanded{
        width:60px;
        margin-left:0;
        transition: margin .5s

    }
    .nav_contracted{
        margin-left:-60px;
        transition: margin .5s
    }

    .logo_large{
        width: 50px;
        height: 50px;
    }

    .sidebar > a > span{
        visibility: hidden;
    }

}

