.sidebar{
    height:100%;
    position: fixed;
    z-index: 1;
    top:0;
    left:0;
    background-color:#2e4051;
    padding-top: 10px;
    transition: width .5s

}

.sidebar > a{
    white-space: nowrap;
    padding: 10px;
    display: block;
    text-decoration:none;
    color: #a7b1c2;
}

.visible {
    opacity: 1;
    transition: opacity .5s linear;
}

.hidden {
    opacity: 0;
}


.sidebar > a.active{
    color:  #c3d0e1
}

.sidebar > a > i{
    padding: 10px;

}

.active{
    border-left: solid 5px  #c3d0e1;
}


.logo{
    display: block;
    margin: 0 auto 20px;
    transition: all .5s
}

.logo_large{
    width: 180px;
    height: 180px;
}

.logo_small{
    width: 50px;
    height: 50px;
}

