.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "map chart" "live_values live_values";
}

.map {
    grid-area: map;
    border: solid 2px
}

.chart {
    grid-area: chart;
}

.live_values {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "val1 val2 val3 val4 val5 val6" "val7 val8 val9 val10 val11 val12";
    grid-area: live_values;
}

.val1 {
    grid-area: val1;
}

.val2 {
    grid-area: val2;
}

.val3 {
    grid-area: val3;
}

.val4 {
    grid-area: val4;
}

.val5 {
    grid-area: val5;
}

.val6 {
    grid-area: val6;
}

.val7 {
    grid-area: val7;
}

.val8 {
    grid-area: val8;
}

.val9 {
    grid-area: val9;
}

.val10 {
    grid-area: val10;
}

.val11 {
    grid-area: val11;
}

.val12 {
    grid-area: val12;
}